{% extends 'base.html' %}

{% block title %}
    Other >>> {{ title }} <<< on the page
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% for book in books %}
        <h3>Title: {{ book.title }}</h3>
        <h4>Author: {{ book.author }}</h4>
        <p>Price: {{ book.price }}</p>
    <img src="{{ url_for('static', path='images/' + book.image) }}" alt="" width="200" height="200">
    {% endfor %}




<a href="/" class="btn btn-success" role="button">На головну</a>


{% endblock %}