{% extends 'base.html' %}

{% block title %}
    Other >>> {{ title }} <<< on the page
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <h2>This is the other page <span class="badge bg-secondary">New</span></h2>

To switch directories, type <kbd>{{ my_age }}</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>



<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="alert alert-secondary" role="alert">
  {{ title }}
</div>

{% endblock %}